  body {
      font-family: 'Poppins', sans-serif;
      background: #f8f9fa;
  }
  .carousel-caption {
      background: rgba(0, 0, 0, 0.45);
      padding: 20px 30px;
      border-radius: 10px;
  }
  .info-card {
      border-radius: 12px;
      transition: 0.3s;
  }
  .info-card:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  .info-img {
      border-radius: 12px 12px 0 0;
      height: 200px;
      width: 100%;
    object-fit: cover;
    object-position: center;



  }